body {
    margin: 0;
    font-family: 'BlenderPro';
}

@font-face {
    font-family: 'BlenderPro';
    src: url('../assets/font/BlenderPro-Medium.woff') format('woff');
}

@font-face {
    font-family: 'BlenderPro';
    src: url('../assets/font/BlenderPro-Bold.woff') format('woff');
    font-weight: bold;
}

.search-field {
    max-width: 350px;
    padding: 18px;
    margin: 0 auto;
}

.search-field__input {
    width: 100%;
    background: white;
    border-radius: 5px;
}

.searc-field__progress {
    border-radius: 5px;
    height: 1.1876em !important;
    opacity: 0.8;
    filter: blur(3px);
    background: white;
    padding: 17.5px 14px;
    z-index: -1;
    margin-top: calc(-1.1876em - 2 * 16.5px);
}

.logo {
    height: 40px;
    width: auto;
    padding-left: 5px;
    filter: invert(1);
    margin-top: 12px;
}

.app-bar {
    justify-content: space-between;
    flex-direction: row !important;
}
